@import "tailwindcss";

body {
  background-image: url('https://i.pinimg.com/736x/b0/a3/e1/b0a3e1af7dd1724159d14e251036e962.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #070707;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 20px 60px rgba(0,0,0,0.15);
}